<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
       <h1> Vishal :N01546838 || Vamshi :N01546921</h1>
       <nav>
  <ul>
    <li><a class="active" href="/">Home</a></li>
   
    <li><a href="/api/movies/insert">Insert Invoice</a></li>
    <li><a href="/api/Moviesh">Search Movie</a></li>
    
     <li><a href="/api/Allsales">View Data</a></li>
  </ul>
</nav>
    </header>

    <main>
            
    {{{body}}}
    </main>
    <footer>
        kanakamamidivishal@gmail.com
    </footer>
  </body>
</html>